{% extends "layout.html.twig" %}

{% block content %}

  <img src="lib/img/Serpico.png" alt="logo Serpico">
  {{ form_start(form) }}
  <form class="col s10">
    <div class="row">
      <div class="input-field col s10">
        {{ form_row(form.email) }}
      </div>
    </div>
    <div id="formulaire" class="row">
      <div class="input-field col s10">
        {{ form_row(form.password) }}
      </div>
    </div>
    <p>
      <input type="checkbox" id="test5" checked/>
      <label for="test5">Remember me</label>
    </p>
    <div class="row">
      <div class="button-field col s10">
        {{ form_row(form.submit) }}
      </div>
    </div>
  </form>
{{ form_end(form)}}
{% endblock %}{# empty Twig template #}
