{% extends "layout.html.twig" %}

{% block title %}
Activity list
{% endblock %}

{% block pagename %}
Activity list
{% endblock %}

{% block username %}
{{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% block content %}
  <section class="col s10">
    <input type="text" name="fakesearchbar" placeholder="FAKE SEARCH BAR">

    {% for activity in user_activities %}
      <ul id="ListButtons" class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_more</i>
            {{ activity['act_name']  }}


                <div class="button-field col s5">
                  <form action="{{ url('activityGrade',{'actId' : activity['act_id']})}}">
                    <button type="submit" class="validate"> GRADE </button>
                  </form>

                </div>
              <span class="new badge"> {{ activity['act_status'] }} </span>
          </div>
          <div class="collapsible-body">autres infos
            <div class="row">
            {{ activity['act_objectives']  }}
            <br>
            Created on : {{ activity['act_inserted']  }} - Quotes deadline : {{ activity['act_quotes_deadline']  }}
            <br>
            Grade type : {{ activity['cri_gradetype']  }}
            <br>
            Grade scale : from {{ activity['cri_lowerbound']  }} to {{ activity['cri_upperbound']  }} (increment : {{ activity['cri_step']  }})
              {#
              As there is only one criterion, weight is not worth displaying
              {{ activity['weight']  }}
              #}

            <div class="button-field col s10">
              <button type="submit" class="validate">SUBMIT GRADES</button>
            </div>
            </div>
          </div>
        </li>
      </ul>
    {% endfor %}
    <div class="row">
      <div class="button-field col s10">
        <button type="submit" class="validate">ADD ACTIVITIES</button>
      </div>
    </div>
  </section>

{% endblock %}
