{% extends "layout.html.twig" %}

{% block pagename %}
Select participants
{% endblock %}

{% block content %}
  <section class="col s10">
      {{ form_start(form,{'attr': {'class': 'foo'}}) }}
    <input type="text" name="fakesearchbar" placeholder="FAKE SEARCH BAR">
    {% for participant in participants %}
      <ul class="collection">
        <li class="collection-item">
            {{ participant['firstname']  }}
            {{ participant['lastname'] | upper }}
            <br>
              {{participant['position']}}
            <span class="secondary-content" >

              <button class="waves-effect waves-light btn action-button">ADD</button>
              <!-- le if sera pour ajoute ou non  -->

            </span>
        </li>
      </ul>
    {% endfor %}
<div class="fixed-action-btn">

    {{ form_row(form.submit,{'attr': {'class': 'waves-effect waves-light btn-large'}}) }}

  <!--<a class="waves-effect waves-light btn-large">ADD PARTICIPANTS</a>-->
</div>
      {{ form_end(form) }}
</section>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/participants.js') }}"></script>
{% endblock %}
