{% extends "layout.html.twig" %}

{% block title %}
user list
{% endblock %}

{% block pagename %}
User list
{% endblock %}

{% block content %}
  <section class="col s10">
    <input type="text" name="fakesearchbar" placeholder="FAKE SEARCH BAR">

    {% for user in users %}
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_more</i>
            <!-- if pour la photo du user  pour un : if user['picture'] != null -->
            <div id="userPhoto" class="">
            {% if user['id'] > 10 %}
                <img id="userPhoto" src="{{ asset('lib/img/Serpico.png') }}"/>
            {% elseif user['id'] <= 10 %}
                <img id="userPhoto" src="{{ asset('lib/img/Serpico.png') }}"/>
            {% endif %}
              </div>
            <!-- fin du if pour la photo du user -->

            {{ user['firstname']  }}
            {{ user['lastname'] | upper }}
            <br>
            {{user['position']}}
            <span class="badge">{{ user['id'] }}</span>
            {% if user['id'] > 10 %}
              <i class="material-icons">done</i>

            </div>
          {% elseif user['id'] <= 10 %}
            <i class="material-icons">clear</i>
            </div>

        {% endif %}
        <div id="userListButtons" class="collapsible-body">
          <div class="row">
            Autres infos <br>
            Poids : {{ user['weight']  }}
          </div>
          <div class="row">
            <div class="button-field col s4">
              <button type="submit" class="validate modify-button" data-user-id={{ user['id'] }}>MODIFY</button>
            </div>
            <div class="button-field col s4">
              <button type="submit" class="validate delete-button" data-user-id={{ user['id'] }}>DELETE</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}
  <div class="row">
    <div class="button-field col s10">
      <form action="{{ url('createUser') }}">
      <button type="submit" class="validate">ADD USERS</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/users.js') }}"></script>
{% endblock %}
